@import "@style/constants.less";

.login-container {
  height: 100%;
  background-color: @app-blue-3;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 30%;
}