.card-list-body {
  .card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:last-of-type {
      border-bottom: none;
    }

    .card-text {
      flex-grow: 1;
      width: calc(100% - 140px);

      .card-title {
        width: 100%;
        font-size: 18px;
        font-weight: 600;
      }

      .card-abstract {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .card-info {}
    }

    .card-img {
      width: 140px;
      height: 90px;
      border-radius: 5px;
    }
  }

}