/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
/* overrides extra padding on button elements in Firefox */
@keyframes introjspulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
 .introjs-overlay {
  position: absolute;
  box-sizing: content-box;
  z-index: 100000002;
  opacity: 0;
  transition: all 0.3s ease-out;
}
 .introjs-showElement {
  z-index: 9999999 !important;
}
 tr.introjs-showElement > td {
  z-index: 9999999 !important;
  position: relative;
}
 tr.introjs-showElement > th {
  z-index: 9999999 !important;
  position: relative;
}
 .introjs-disableInteraction {
  z-index: 99999999 !important;
  position: absolute;
  background-color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
}
 .introjs-relativePosition {
  position: relative;
}
.introjs-helperLayer {
  box-sizing: content-box;
  position: absolute;
  z-index: 10000000;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
 .introjs-helperLayer * {
  box-sizing: content-box;
}
 .introjs-helperLayer *:before {
  box-sizing: content-box;
}
 .introjs-helperLayer *:after {
  box-sizing: content-box;
}
 .introjs-tooltipReferenceLayer {
  box-sizing: content-box;
  position: absolute;
  visibility: hidden;
  z-index: 100000003;
  background-color: transparent;
  transition: all 0.3s ease-out;
}
 .introjs-helperNumberLayer {
  color: #9e9e9e;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .introjs-arrow {
  border: 5px solid transparent;
  content: '';
  position: absolute;
}
 .introjs-arrow.top {
  top: -10px;
  left: 10px;
  border-bottom-color: #535f75;
}
 .introjs-arrow.top-right {
  top: -10px;
  right: 10px;
  border-bottom-color: #535f75;
}
 .introjs-arrow.top-middle {
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #535f75;
}
 .introjs-arrow.right {
  right: -10px;
  top: 10px;
  border-left-color: #535f75;
}
 .introjs-arrow.right-bottom {
  bottom: 10px;
  right: -10px;
  border-left-color: #535f75;
}
 .introjs-arrow.bottom {
  bottom: -10px;
  left: 10px;
  border-top-color: #535f75;
}
 .introjs-arrow.bottom-right {
  bottom: -10px;
  right: 10px;
  border-top-color: #535f75;
}
 .introjs-arrow.bottom-middle {
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-top-color: #535f75;
}
 .introjs-arrow.left {
  left: -10px;
  top: 10px;
  border-right-color: #535f75;
}
 .introjs-arrow.left-bottom {
  left: -10px;
  bottom: 10px;
  border-right-color: #535f75;
}
 .introjs-tooltip {
  box-sizing: content-box;
  position: absolute;
  visibility: visible;
  color: #ffffff;
  background-color: #535f75;
  min-width: 260px;
  max-width: 320px;
  border-radius: 3px;
  padding: 16px;
  transition: opacity 0.1s ease-out;
}
 .introjs-tooltiptext {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
 .introjs-tooltip-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  float: left;
  color: #ffffff;
  margin: 0;
}
 .introjs-tooltip-header {
  padding-bottom: 12px;
}
 .introjs-tooltip-header:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
 .introjs-tooltipbuttons {
  text-align: right;
  white-space: nowrap;
  padding-top: 15px;
}
 .introjs-tooltipbuttons:after {
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
 .introjs-button {
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0 1rem;
  color: rgba(0, 15, 38, 0.7);
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background: #E7ECF1;
  border-radius: 2px;
  height: 24px;
  line-height: 24px;
  zoom: 1;
  *display: inline;
}
 .introjs-button:hover {
  outline: none;
  color: rgba(0, 15, 38, 0.9);
  text-decoration: none;
  background: #fff;
}
 .introjs-button:focus {
  outline: none;
  text-decoration: none;
}
 .introjs-button:active {
  outline: none;
  text-decoration: none;
  background-color: #e0e0e0;
  border-color: #9e9e9e;
  color: #212121;
}
 .introjs-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
 .introjs-tooltip-steps {
  float: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 6px;
}
 .introjs-skipbutton {
  box-sizing: content-box;
  float: left;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
 .introjs-skipbutton:hover,
 .introjs-skipbutton:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}
 .introjs-prevbutton {
  float: right;
  box-sizing: content-box;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 16px;
}
 .introjs-prevbutton:hover,
 .introjs-prevbutton:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}
 .introjs-nextbutton {
  float: right;
}
 .introjs-disabled {
  color: #9e9e9e;
  border-color: #bdbdbd;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  text-decoration: none;
}
 .introjs-disabled:hover,
 .introjs-disabled:focus {
  color: #9e9e9e;
  border-color: #bdbdbd;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  text-decoration: none;
}
 .introjs-hidden {
  display: none;
}
 .introjs-bullets {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
 .introjs-bullets ul {
  box-sizing: content-box;
  clear: both;
  margin: 0 auto 0;
  padding: 0;
  display: inline-block;
}
 .introjs-bullets ul li {
  box-sizing: content-box;
  list-style: none;
  float: left;
  margin: 0 2px;
}
 .introjs-bullets ul li a {
  transition: width 0.1s ease-in;
  box-sizing: content-box;
  display: block;
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
 .introjs-bullets ul li a:hover,
 .introjs-bullets ul li a:focus {
  width: 15px;
  background: #999;
  text-decoration: none;
  outline: none;
}
 .introjs-bullets ul li a.active {
  width: 15px;
  background: #999;
}
 .introjs-progress {
  box-sizing: content-box;
  overflow: hidden;
  height: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: #e0e0e0;
}
 .introjs-progressbar {
  box-sizing: content-box;
  float: left;
  width: 0%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #08c;
}
 .introjsFloatingElement {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
}
 .introjs-fixedTooltip {
  position: fixed;
}
 .introjs-hint {
  box-sizing: content-box;
  position: absolute;
  background: transparent;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
 .introjs-hint:focus {
  border: 0;
  outline: 0;
}
 .introjs-hint:hover > .introjs-hint-pulse {
  border: 5px solid rgba(60, 60, 60, 0.57);
}
 .introjs-hidehint {
  display: none;
}
 .introjs-fixedhint {
  position: fixed;
}
 .introjs-hint-pulse {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border: 5px solid rgba(60, 60, 60, 0.27);
  border-radius: 30px;
  background-color: rgba(136, 136, 136, 0.24);
  z-index: 10;
  position: absolute;
  transition: all 0.2s ease-out;
}
 .introjs-hint-no-anim .introjs-hint-dot {
  animation: none;
}
 .introjs-hint-dot {
  box-sizing: content-box;
  border: 10px solid rgba(146, 146, 146, 0.36);
  background: transparent;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  animation: introjspulse 3s ease-out;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}
 .introjs-tooltipbuttons {
  text-align: left;
}
